@tailwind base;
@tailwind components;
@tailwind utilities;

#email-input:focus::placeholder {
  transform: translateY(-145%);
  font-size: 0.75rem;
  transition: all 0.1s ease-in-out;
  font-weight: 600;
}
#email-input::placeholder {
  padding-left: 1%;
  color: #8c8c8c;
}
div.faq {
  padding: 70px 30px;
}
div.faq h1 {
  font-size: 3.125rem;
  text-align: center;
  margin-bottom: 40px;
}
div.questions {
  max-width: 635px;
  margin: 0 auto;
  font-size: 1.625rem;
}
div.question {
  position: relative;
  background-color: #303030;
  color: #fff;
  margin-bottom: 10px;
}
div.question svg {
  width: 30px;
  height: 30px;
  right: 30px;
  top: 20px;
  position: absolute;
  transform: rotate(45deg);
  transition: all 0.3s ease;
}
div.question .header {
  display: block;
  padding: 20px 30px;
  border-bottom: 1px solid #000;
  cursor: pointer;
}
div.question div.answer {
  padding: 0 30px;
  color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
div.question input[type="checkbox"] {
  display: none;
}
div.question input[type="checkbox"]:checked ~ div.answer {
  padding: 30px 30px;
  max-height: 600px;
}
div.question input[type="checkbox"]:checked ~ .header svg {
  transform: rotate(180deg);
}
